<div class="university-container">
    <div class="search-container">
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="Search for..." (ngModelChange)="currentPage = 1">
        </div>
    </div>

    <div class="pagination-bar"><pagination-controls autoHide="true" responsive="true" (pageChange)="currentPage = $event"></pagination-controls></div>
    
    <div class="table-header university-row" [hidden]="loading">
        <div class="university-column">
            <span>Name</span>
        </div>
        <div class="university-column">
            <span>Country</span>
        </div>
    </div>

    <div class="loader-container" [hidden]="!loading">
        <div class="loader" [inlineSVG]="'assets/spinner.svg'"></div>
    </div>

    <div class="university-row" *ngIf="error">
        <div class="alert alert-danger col-12" role="alert">
            <i class="fa fa-exclamation-circle"></i> {{ errorText }}
        </div>
    </div>
    
    <div [hidden]="loading">
        <div class="university-wrapper" *ngFor="let university of universities | filter:searchTerm | paginate: { itemsPerPage: 10, currentPage: currentPage }">
            <div class="university-row">
                <div class="university-column">
                    <a href="{{university.web}}" target="_blank">{{ university.name }}</a>
                </div>
                <div class="university-column">
                    <span>{{ university.country }}</span>
                </div>
            </div>
        </div>
    </div>

</div>
  